---
import BackLink from '@/components/BackLink'
import Container from '@/components/Container.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import { formatDate } from '@/utils/formatDate'
import generateOgImageUrl from '@/utils/generateOgImage'
import { readingTime } from '@/utils/readingTime'
import { Image } from 'astro:assets'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => ({ params: { slug: post.id }, props: { post } }))
}

const { post } = Astro.props
const { Content } = await render(post)

const postDate = formatDate(post.data.date.toDateString())
const postReadTime = readingTime(post.rendered?.html ?? '')


const ogImageUrl = generateOgImageUrl({
  header: '/BLOG',
  description: post.data.title,
  readTime: postReadTime,
})
---

<PageLayout title={post.data.title} description={post.data.description} image={ogImageUrl}>
  <Container>
    <article class="pt-28 text-sm sm:pt-40 sm:text-base">
      <header class="mb-8 flex flex-col gap-2">
        <BackLink client:load />

        <h1 class="mt-8 text-xl font-bold sm:text-4xl">{post.data.title}</h1>
        <span class="flex items-center gap-2 text-sm text-muted-foreground"
          >{postDate} | {postReadTime}</span
        >
        {
          post.data.image && (
            <Image
              src={post.data.image}
              alt={post.data.title}
              width={768}
              height={438}
              class="mt-3 rounded-lg"
            />
          )
        }
      </header>
      <div class="prose">
        <Content />
      </div>
      <div class="mb-28 mt-16">
        <BackLink client:load />
      </div>
    </article>
  </Container>
</PageLayout>
