---
import { getCollection, type CollectionEntry } from 'astro:content'
import { BLOG } from '@/lib/site'
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/Container.astro'
import LinkItem from '@/components/LinkItem.astro'
import { groupEntriesByYear, getSortedYears } from '@/utils/utils.ts'

const data = await getCollection('blog')

type Posts = Record<string, CollectionEntry<'blog'>[]>
const posts: Posts = groupEntriesByYear<'blog'>(data)
const years = getSortedYears(posts)
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <section
      class="relative mb-16 px-2 pt-28 text-sm sm:mb-28 sm:pt-40 sm:text-base">
      <header class="mb-4 px-2">
        <h1 class="text-xl font-bold sm:text-2xl">Blog</h1>
      </header>

      <div>
        {
          years.map((year: string) => (
            <div>
              <h2 class="mb-4 mt-8 px-2 text-lg font-bold">{year}</h2>
              {posts[year].map((post) => (
                <LinkItem
                  href={`/blog/${post.id}`}
                  name={post.data.title}
                  description={post.data.description}
                />
              ))}
            </div>
          ))
        }
      </div>
    </section>
  </Container>
</PageLayout>
