---
import ArrowLeft from '@/assets/icons/arrow-left.svg'
import ArrowRight from '@/assets/icons/arrow-right.svg'
import Container from '@/components/Container.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import generateOgImageUrl from '@/utils/generateOgImage'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  const categories = [...new Set(posts.map((post) => post.data.category))]

  return categories.map((category) => ({
    params: { category },
    props: { category },
  }))
}

const { category } = Astro.props

const posts = (
  await getCollection('blog', ({ data }) => {
    return data.category === category
  })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

const ogImageUrl = generateOgImageUrl({
  header: '/BLOG',
  description: `Checkout my articles in the ${category.toUpperCase()} category.`,
})
---

<PageLayout
  title={category.toUpperCase()}
  description={`Posts in the ${category.toUpperCase()} category`}
  image={ogImageUrl}>
  <Container>
    <section class="m relative pt-28 text-sm sm:pt-40 sm:text-base">
      <header class="mb-16 w-auto">
        <a
          href="/blog"
          class="group inline-flex items-center gap-2 hover:text-blue-600">
          <ArrowLeft
            size={16}
            class="transition-all duration-200 ease-in-out group-hover:-translate-x-1"
          />
          <span class="group-hover:underline group-hover:underline-offset-2"
            >back to all posts</span
          ></a
        >
        <h1 class="mb-2 mt-8 text-xl font-bold sm:text-4xl">Blog</h1>
        <p class="text-foreground-muted sm:text-lg">
          All posts in the <strong>{category}</strong> category
        </p>
      </header>

      <ul class="space-y-4 sm:space-y-6">
        {
          posts.map((post) => (
            <li>
              <div class="group -mx-2 flex items-center justify-between border-b p-2 pb-2 hover:border-blue-600">
                <div class="mr-2 sm:mr-4">
                  <a
                    href={`/blog/${post.id}?category=${category}`}
                    class="block">
                    <h3 class="text-sm font-semibold group-hover:text-blue-600 sm:text-base">
                      {post.data.title}
                    </h3>
                    <p class="text-foreground-muted text-sm group-hover:text-blue-600 sm:text-base">
                      {post.data.description}
                    </p>
                  </a>
                  <div class="mt-3">
                    <ul class="flex flex-wrap items-center gap-1">
                      <li>
                        <a
                          href={`/blog/category/${post.data.category.toLowerCase()}`}
                          class="rounded-full bg-primary px-2 text-sm text-white hover:bg-primary/80">
                          {post.data.category}
                        </a>
                      </li>
                      {post.data.tags.map((tag) => (
                        <li>
                          <a
                            href={`/blog/tag/${tag.toLowerCase()}`}
                            class="tag-link rounded-full bg-secondary px-2 text-sm text-black transition-colors hover:text-blue-600">
                            {`# ${tag}`}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
                <div class="hidden text-primary sm:block">
                  <a href={`/blog/${post.id}?category=${category}`}>
                    <ArrowRight
                      fill="currentColor"
                      class="mr-0 h-5 w-5 flex-shrink-0 text-primary/50 transition-all duration-200 ease-in-out group-hover:translate-x-2 group-hover:text-blue-600 sm:mr-2"
                    />
                  </a>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </section>
  </Container>
</PageLayout>
