---
import Container from '@/components/Container.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import { CONTACT, CONFERENCE } from '@/lib/site'
import generateOgImageUrl from '@/utils/og-image'
import Contact from '@/components/Contact.astro'

export const prerender = false;
const confParam = Astro.url.searchParams.get('conf')

type ConferenceKey = keyof typeof CONFERENCE
const validEvent =
  confParam && confParam in CONFERENCE ? (confParam as ConferenceKey) : null

const ogImageUrl = generateOgImageUrl({
  header: `/${CONTACT.TITLE.toUpperCase()}`,
  description: CONTACT.DESCRIPTION,
})
---

<PageLayout
  title={CONTACT.TITLE}
  description={CONTACT.DESCRIPTION}
  image={ogImageUrl} client:load>
  <Container>
    <section class="pt-28 text-sm sm:pt-40 sm:text-base">
      <header class="mb-9">
        <h1 class="text-xl font-bold sm:text-4xl">Contact</h1>
        {
          validEvent && (
            <div class=" mt-6 flex w-full md:justify-center rounded-xl border p-4">
              <p class="text-base md:text-lg">
                👋 It was awesome connecting with you at{' '}
                {CONFERENCE[validEvent]}
              </p>
            </div>
          )
        }
      </header>
      <Contact page={true} />
    </section>
  </Container>
</PageLayout>
