---
import { getCollection } from 'astro:content'
import { HOME, NUMBER_OF_ENTRIES, SOCIALS } from '@/lib/site'
import PageLayout from '../layouts/PageLayout.astro'
import Container from '../components/Container.astro'
import CustomLink from '@/components/CustomLink.astro'
import LinkItem from '@/components/LinkItem.astro'
import ArrowSquiggle from '@/assets/icons/arrow-squiggle.svg'
import type { Project, Blog, Speaking } from '@/types'

const projects = (await getCollection('projects'))
  .sort((a, b) => b.data.id.valueOf() - a.data.id.valueOf())
  .slice(0, NUMBER_OF_ENTRIES)

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, NUMBER_OF_ENTRIES)

const speaking = (await getCollection('speaking'))
  .sort((a, b) => b.data.id.valueOf() - a.data.id.valueOf())
  .slice(0, NUMBER_OF_ENTRIES)
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <!-- hero -->
    <section class="text-md relative mb-28 pt-40">
      <header class="mb-4">
        <h1 class="text-2xl font-bold">Hello, I'm Chris Nowicki</h1>
        <p>Software Engineering Lead at This Dot Labs.</p>
      </header>

      <div class="space-y-8">
        <p>
          When I'm not leading engineering teams, you'll find me tinkering with
          new tech, optimizing my productivity setup (<em
            >while keeping it minimal</em
          >), or hunting for the perfect cheeseburger.
        </p>

        <blockquote class="font-cursive text-2xl">
          Oh, and coffee. Lots of coffee.
        </blockquote>
      </div>

      <div class="mt-8 flex flex-wrap gap-2 sm:gap-4">
        <CustomLink href="#contact" size="lg" class="uppercase"
          >Contact Me</CustomLink
        >
        <CustomLink
          href="https://buymeacoffee.com/chrisnowicki"
          variant="outline"
          target="_blank"
          size="lg"
          class="uppercase">Buy Me A Coffee</CustomLink
        >
      </div>

      <ArrowSquiggle
        size={45}
        class="absolute bottom-12 right-80 hidden rotate-90 transform md:block"
      />
    </section>

    <!-- projects -->
    <section class="mb-20">
      <header class="mb-8 px-2">
        <h2 class="text-xl font-bold">Projects</h2>
      </header>
      <div class="space-y-4">
        {
          projects.map((project: Project) => (
            <LinkItem
              href={project.data.gitHubUrl}
              name={project.data.name}
              description={project.data.description}
              external={true}
            />
          ))
        }
      </div>
    </section>

    <!-- posts -->
    <section class="mb-20">
      <header class="mb-8 flex items-center justify-between px-2">
        <h2 class="text-xl font-bold">Latest Posts</h2>
        <a href="/blog" class="text-primary hover:underline">See all posts</a>
      </header>
      <div class="space-y-4">
        {
          posts.map((project: Blog) => (
            <LinkItem
              href={`/blog/${project.id}`}
              name={project.data.title}
              description={project.data.description}
            />
          ))
        }
      </div>
    </section>

    <!-- speaking -->
    <section>
      <header class="mb-8 flex items-center justify-between px-2">
        <h2 class="text-xl font-bold">Speaking</h2>
        <a href="/speaking" class="text-primary hover:underline"
          >See all engagements</a
        >
      </header>
      <div class="space-y-4">
        {
          speaking.map((engagement: Speaking) => (
            <LinkItem
              href={engagement.data.videoUrl}
              name={engagement.data.title}
              description={engagement.data.description}
              external={true}
            />
          ))
        }
      </div>
    </section>
  </Container>
</PageLayout>
