---
import GitHub from '@/assets/icons/github.svg'
import LinkedIn from '@/assets/icons/linkedin.svg'
import SquiggleLine from '@/assets/icons/needle-underline.svg'
import Twitch from '@/assets/icons/twitch.svg'
import X from '@/assets/icons/x.svg'
import Me from '@/assets/images/me.webp'
import { cn } from '@/utils/utils'
import { Image } from 'astro:assets'
import Container from './Container.astro'
import Link from './Link.astro'

interface Props {
  page?: boolean
}

const socialLinks = [
  {
    icon: X,
    url: 'https://twitter.com/iamwix',
    label: 'Visit my X Profile @iamwix',
  },
  {
    icon: LinkedIn,
    url: 'https://www.linkedin.com/in/chris-nowicki/',
    label: 'Visit my LinkedIn Profile',
  },
  {
    icon: GitHub,
    url: 'https://github.com/chris-nowicki',
    label: 'Visit my GitHub Profile',
  },
  {
    icon: Twitch,
    url: 'https://www.twitch.tv/chriswix',
    label: 'Visit my Twitch Profile',
  },
] as const

const socialIconClass =
  'hover:scale-110 transition-all duration-200 ease-in-out hover:text-blue-600'

const { page = false } = Astro.props
---

<Container class={cn(page && 'px-0')}>
  <section
    class={cn(
      'w-full rounded-lg text-sm sm:text-base',
      page ?
        'flex flex-col md:flex-row gap-6'
      : 'mt-20 p-4 bg-primary-foreground'
    )}
    id="contact">
    <header
      class={cn(
        'relative mb-8 flex justify-between',
        page ? 'hidden' : 'block'
      )}>
      <SquiggleLine
        class="absolute -bottom-2 left-1 w-28 sm:-bottom-3 sm:w-32"
      />
      <h2 class="text-lg font-bold text-blue-600 sm:text-xl">Let's Connect</h2>
    </header>
    {
      page && (
        <Image
          src={Me}
          alt="Photo of me"
          loading="eager"
          width={200}
          height={200}
          class="rounded-lg shadow-xl"
        />
      )
    }
    <div>
      <p>
        If you want to get in touch with me about something or just to say, hi
        👋, reach out on social media or send me an email at{' '}
        <a
          href="mailto:hello@chrisnowicki.dev"
          class="font-bold hover:text-blue-600 hover:underline">
          hello@chrisnowicki.dev
        </a>.
      </p>

      <div class={cn('flex flex-wrap gap-4', page ? 'my-8' : 'mt-8')}>
        {
          socialLinks.map(({ icon: Icon, url, label }) => (
            <Link
              to={url}
              class={socialIconClass}
              icon={true}
              ariaLabel={label}>
              <Icon width={24} aria-hidden="true" />
            </Link>
          ))
        }
      </div>
      <span
        class={cn('font-cursive mt-4 ml-2 text-4xl', page ? 'block' : 'hidden')}
        >- Chris</span
      >
    </div>
  </section>
</Container>
