---
import { cn } from '@/utils/utils'
import ContentItem from './ContentItem.astro'

interface Props {
  title: string
  viewAllLink?: {
    href: string
    text: string
  }
  items: {
    href: string
    name: string
    description?: string
    external?: boolean
  }[]
  class?: string
}

const { title, viewAllLink, items, class: classProps = '' } = Astro.props
---

<section class={cn('mt-8 sm:mt-20', classProps)}>
  <header class="mb-6 flex items-center justify-between sm:mb-8">
    <h2 class="text-xl font-bold sm:text-2xl uppercase">{title}</h2>
    {
      viewAllLink && (
        <a
          href={viewAllLink.href}
          class="text-sm text-primary hover:text-blue-600 hover:underline sm:text-base">
          {viewAllLink.text}
        </a>
      )
    }
  </header>
  <div class="flex flex-col gap-4">
    {
      items.map((item) => (
        <ContentItem
          href={item.href}
          name={item.name}
          description={item.description || ''}
          external={item.external}
        />
      ))
    }
  </div>
</section>
